.custom-checkbox {
  line-height: 45px;
  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    & + label {
      cursor: pointer;
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        border: 1px solid #b3b7b7;
        margin-inline: 10px;
      }
    }
    &:checked + label::before {
      background: url('/assets/images/checkmark-green.svg') 50% 50% no-repeat;
      background-size: contain;
    }
  }
}


.button-checkbox-wrapper {
  position: relative;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 21px;
    z-index: 1;

    & + label {
      display: inline-block;
      &::before {
        content: "";
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;
        cursor: pointer;
        background: #fff;
        border: 1px solid var(--border);
        border-radius: 50%;
        position: relative;
      }
    }
    &:checked + label::before {
      background: url('/assets/images/checkmark-green.svg') 50% 50% no-repeat;
      background-size: 22px 17px;
      border-color: var(--primary-color);
    }
  }
}

